{% extends "reviews/reviews_inicio.html" %}
{% block title %}CINEMA - About us{% endblock %}
  </head>
  <body>
{% block content %}

<h2>About us:</h2>
<br>
<br>
<h5>Florencia Méndez:</h5>
<p>Ejecutiva con +12 años de experiencia en el Area de Administración, Contabilidad, Atención al Cliente, Community Management y Ventas en PyMes Agropecuarias, 
Estudio Jurídico y de Diseño; así como personas físicas. También cuento con experiencia en Edición y Fotografía en Postproductoras de Cine y Publicidad lo que 
me llevó a tener valiosos aprendizajes de resolución y creatividad.

Durante los últimos 4 años me he dedicado a brindar servicios de administración, pagos a proveedores, cobranzas, 
liquidación de impuestos y sueldos, relación con estudios contables, atención al cliente y ventas, siendo un soporte en cuestiones 
de orden y organización de mis clientes liberándolos de estas tareas que requieren previsibilidad, ejecución y transparencia. 
A su vez, colaboro con equipos de trabajo con un enfoque en Metodologías Ágiles (Scrum).

Poseo excelentes relaciones interpersonales, de comunicación y organización. Cuento con capacidad para absorber un alto volumen de 
actividades con un estilo anticipativo de gestión. Me destaco por ser fuertemente responsable, confiable y comprometida.</p>
<br>
<h5>Daniela Sanabria:</h5>
Licenciada en Comercio Internacional con 7 años de experiencia en consultoría, asesoramiento y comercio exterior. He trabajado en varias empresas reconocidas en despachantes de aduana, como DEVCO INTERNACIONAL y B&B CONSULTORA. Además, como analista de comercio exterior en las agroquimícas NUFARM y ATANOR. Mis colegas me reconocen como una persona creativa, enfocada en objetivos. Dedicado a entender el negocio y las necesidades de nuestros clientes.
<br>
<br>
<h5>Florencia Lundberg:</h5>
<br>
<br>

{% endblock %}